* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Section_top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(foundationday.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
}

.top {
    display: flex;
    height: 100px;
    width: 100%;
}

#heading {
    background-color: rgb(227, 227, 241);
    border: 1px solid rgb(151, 151, 236);
    border-radius: 15px;
    margin-left: -110px;
    padding: 6px 20px;
}

img {
    width: 100px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    aspect-ratio: 5/4;
    border-radius: 50%;
}

.right_header {
    color: #4481eb;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: auto;
}

.main {
    display: flex;
}

.right {
    width: 470px;
    height: 280px;
    background-color: rgb(216, 216, 224);
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 15px;
}

.right h2 {
    margin: 20px auto;
    align-items: center;
    color: black;
    font-size: 32px;
    font-weight: 800;
}


.switch {
    display: inline-block;
    margin: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.switches {
    margin-top: 50px;
}

ul {
    list-style: none;
}

.ank {
    text-decoration: none;
}

.switch_span {
    border: 2px solid black;
    padding: 10px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #4481eb;
    color: white;
    font-weight: 800;
}

.switch_span:hover {
    cursor: pointer;
    color: aqua !important;
    background-color: black;

}

/* adding animation */

@keyframes change {
    0% {
        background-image: url(found2.jpg);
    }

    20% {
        background-image: url(found3.jpg);
    }

    40% {
        background-image: url(found4.jpg);
    }

    60% {
        background-image: url(found5.jpg);
    }

    80% {
        background-image: url(found6.jpg);
    }

    100% {
        background-image: url(found7.jpg);
    }

    20% {
        background-image: url(found5.jpg);
    }

    40% {
        background-image: url(found9.jpg);
    }

    60% {
        background-image: url(found10.jpg);
    }

    80% {
        background-image: url(found11.jpg);
    }

    100% {
        background-image: url(found12.jpg);
    }

}