* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     /* background-image: url(foundationday.jpg);  */
     background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* background-color: white; */
}
#details{
    width: 100%;
    height: 400px;
    color:rgb(248, 127, 127);
    background-color: black;
}

p strong{
    color: yellow;
}
.top {
    display: flex;
    height: 100px;
    width: 100%;
}

#heading {
    background-color: rgb(227, 227, 241);
    border: 1px solid rgb(151, 151, 236);
    border-radius: 15px;
    margin-left: -110px;
    padding: 6px 20px;
}

img {
    width: 100px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    aspect-ratio: 5/4;
    border-radius: 50%;
}

.right_header {
    color: #4481eb;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: auto;
}

.main {
    display: flex;
}

.right {
    width: 470px;
    height: 280px;
    background-color: rgb(216, 216, 224);
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 15px;
}

.right h2 {
    margin: 20px auto;
    align-items: center;
    color: black;
    font-size: 32px;
    font-weight: 800;
    /* margin-left: 80px; */
}


.switch {
    display: inline-block;
    margin: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.switches {
    margin-top: 50px;
}

ul {
    list-style: none;
}
.ank{
    text-decoration: none;
}
.switch_span {
    border: 2px solid black;
    padding: 10px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #4481eb;
    color: white;
    font-weight: 800;
}

.switch_span:hover {
    cursor: pointer;
    color: aqua !important;
    background-color: black;

}

.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(foundationday.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
}
/* .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.interface-link {
    border: 2px solid black;
    background-color: blue;
    border-radius: 30px;
    margin-left: 100px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}
h3{
        color: white;
        border: 2px solid black;
        border-radius: 30px;
        background-color: black;
        width: 40%;
        display: inline;

}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
} */
/* #details{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
} */
.content a:hover{
    background: #4481eb;
    color: #fff;
}
@keyframes change{
    0%
    {
        background-image: url(found2.jpg);
    }
    20%
    {
        background-image: url(found3.jpg);
    }
    40%
    {
        background-image: url(found4.jpg);
    }
    60%
    {
        background-image: url(found5.jpg);
    }
    80%
    {
        background-image: url(found6.jpg);
    }
    100%
    {
        background-image: url(found7.jpg);
    }
    20%
    {
        background-image: url(found5.jpg);
    }
    40%
    {
        background-image: url(found9.jpg);
    }
    60%
    {
        background-image: url(found10.jpg);
    }
    80%
    {
        background-image: url(found11.jpg);
    }
    100%
    {
        background-image: url(found12.jpg);
    }

}